<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header small">
        <em class="fa fa-plus-circle"></em> New State
      </div>
      <div class="card-body">
        <%= form_for(:tag, method: :post) do %>
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><em class="fa fa-tag"></em></div>
                </div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= params[:name] %>">
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><em class="fa fa-file-text"></em></div>
                </div>
                <input type="text" class="form-control" id="description" name="description" placeholder="Description (optional)" value="<%= params[:description] %>">
              </div>
            </div>

            <div class="col-md-2">
              <button type="submit" class="btn btn-success btn-block">Create</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<p></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-tags"></em> Existing States
      </div>
      <div class="card-body">
        <table id="tagsOverview" class="table table-striped table-hover datatable">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="no-sort"></th>
          </tr>
          </thead>
          <tbody>
          <% @states.each do |state| %>
            <tr>
              <td><%= state.name %></td>
              <td><%= state.description %></td>
              <td class="text-right">
                <% unless state.build_in || state.used? %>
                  <%= form_with(url: 'review-states/delete', method: :post) do %>
                    <input type="hidden" id="delid" name="delid" value="<%= state.id %>"/>
                    <button type="submit" class="btn btn-danger btn-sm" title="Delete Tag"><em class="fa fa-remove"></em></button>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>