<div class="container">
  <div class="bs-component">
    <div class="jumbotron">
      <p class="lead">Welcome to TASHI!</p>

      <%= form_with(method: :post) do %>
        <div class="row">
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><em class="fa fa-user"></em></div>
              </div>
              <input type="text" class="form-control" id="name" name="name" placeholder="Username">
            </div>
          </div>

          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><em class="fa fa-key"></em></div>
              </div>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
          </div>

          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
        </div>
      <% end %>
      <p>New here? <a href="#">Register</a> or <a href="/about">Learn More</a>.</p>

    </div>
  </div>
</div>
