<%= form_with(id: "reqForm#{data[:id]}") do %>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><em class="fa fa-space-shuttle"></em></div>
        </div>
        <input type="text" class="form-control" id="reference" name="reference" placeholder="Reference" value="<%= data[:reference] %>">
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><em class="fa fa-folder"></em></div>
        </div>
        <input type="text" class="form-control" autocomplete="off" data-autocomplete="/suggest/req_category.json"
               id="category" name="category" placeholder="Category (optional)" value="<%= data.dig(:requirement_category, :name) %>">
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><em class="fa fa-folder"></em></div>
        </div>
        <input type="text" class="form-control" autocomplete="off" data-autocomplete="/suggest/req_group.json"
               id="group" name="group" placeholder="Group (optional)" value="<%= data.dig(:requirement_group, :name) %>">
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><em class="fa fa-passport"></em></div>
        </div>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title (optional)" value="<%= data[:title] %>">
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><em class="fa fa-exclamation-triangle"></em></div>
        </div>
        <input type="text" class="form-control" id="severity" name="severity" placeholder="Severity (optional)" value="<%= data[:severity] %>">
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><em class="fa fa-clock"></em></div>
        </div>
        <input type="text" class="form-control" id="status" name="status" placeholder="Status (optional)" value="<%= data[:status] %>">
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><em class="fa fa-file-text"></em></div>
        </div>
        <textarea class="form-control" id="description" name="description" placeholder="Description (optional)"><%= data[:description] %></textarea>
      </div>
    </div>
  </div>
  <% if type == :edit %>
    <hr/>
    <div class="row">
      <div class="col-md-12">
      <h5>Linked Procedures (<%= data[:procedures].size rescue 0 %>)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tbody id="linkedProcTable">
          <% data[:procedures]&.each do |proc| %>
            <tr id="proc-<%= proc[:id] %>">
              <td class="cell-bold">
                <%= proc[:name] %>
              </td>
              <td class="text-right">
                <a href='#' onclick="view.unlinkProcedure(<%= data[:id] %>, <%= proc[:id] %>)" class="btn btn-danger btn-sm" title="Unlink"><em class="fa fa-unlink"></em></a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><em class="fa fa-rocket"></em></div>
          </div>
          <input class="form-control" id="newProc" autocomplete="off" data-autocomplete="/suggest/procedures.json">
          <div class="input-group-append">
            <a href='#' onclick="view.linkProcedure('<%= data[:reference] %>', <%= data[:id] %>, 'linkedProcTable')" class="btn btn-info"><em class="fa fa-link"></em> Link</a>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  <% else %>
    <p></p>
  <% end %>
  <div class="row">
    <% if type == :edit %>
      <div class="col-md-3">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <div class="col-md-6"></div>
    <% else %>
      <div class="col-md-19"></div>
    <% end %>
    <div class="col-md-3">
      <a href='#' id="submitBtn<%= data[:id] %>" class="btn btn-success btn-block"><%= type.to_s.capitalize %></a>
    </div>
  </div>
<% end %>
