<style>
    .tooltip,
    .tooltip-inner {
        text-align: left;
        max-width: 450px !important;
    }
</style>

<% @data.specifications.each do |id, spec| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><strong>Req.IF Import "<%= spec[:name] %>"</strong></div>
        <table class="card-body  table table-striped table-sm">
          <tr>
            <th>Name</th>
            <td><%= spec[:name] %></td>
          </tr>
          <% spec[:columns].each do |col| %>
            <tr>
              <th>
                <%= spec[:type][:columns][col[:type]][:name] %>
              </th>
              <td>
                <%= col[:value] %>
              </td>
            </tr>
          <% end %>
          <tr>
            <th>Nesting Level:</th>
            <td><%= @data.nesting_level(id) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Configure Import Mapping
          <em class="fa fa-info-circle"
              data-toggle="tooltip" data-html="true"
              title="<strong>Import Configuration</strong><br/>
                  If the importer finds a field that shall be imported as reference it collects all
                  Data as configured on this and the parent levels.<br />
                  In the complete hierarchy each field may only be used once, and the first mach is used
                  starting from the current level and propagating through the parents.<br />
                  The table below shows the available fields on each level."></em>
        </div>
        <%= form_with(id: "reqifImport", url: '/requirements/import/reqif', local: true) do %>
          <table class="card-body table table-striped table-sm">
            <%= reqif_mapping_options(@data, id) %>
            <tr>
              <th class="table-success" colspan="3">Import options</th>
            </tr>
            <tr>
              <th colspan="2">Collision Handling (Requirement Reference exists in DB)</th>
              <td>
                <select name="collision_handling" class="form-control form-control-sm">
                  <option value='override' selected>Override &amp; Update</option>
                  <option value='keep'>Keep Existing</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                <a href="#" onclick="view.submitGenericForm('#reqifImport')" class="btn btn-sm btn-success">Start Import</a>
              </td>
            </tr>
          </table>
          <input type="hidden" name="reqif" value="<%= @data.jsonize(id).to_json %>"/>
        <% end %>
        <div class="card-footer text-right">
          <small><strong>*</strong> Field must be selected for import</small>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Spec content
        </div>
        <table class="card-body table table-striped table-sm">
          <%= reqif_children(spec[:children], @data.object_types) %>
        </table>
      </div>
    </div>
  </div>
<% end %>