<% content_for :import do %>
  <%= javascript_pack_tag 'requirements_view' %>
<% end %>

<script>
    let view = new Requirements();
</script>

<% if @type == :reqif %>
  <%= render partial: 'import_reqif' %>
<% elsif @type == :csv %>
    <%= render partial: 'import_csv' %>
<% end %>
