<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-5">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <div class="input-group-text width-170px">Name</div>
        </div>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-5">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <div class="input-group-text width-170px">Personal start</div>
        </div>
        <%= form.select(:personal_index, options_for_select(index_options(user), user.personal_index), {}, {class: 'form-control'}) %>
        <%# form.text_field :personal_index, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-5">
      <small>Configure where you want to start after login.</small>
    </div>
  </div>


  <hr>
  <div class="row">
    <div class="col-md-5">
      <% if current_user.has?(:admin) %>
      <% Role.order(name: :asc).each do |role| %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
                 value="<%= role.id %>" id="role-<%= role.id %>" <%= 'checked=checked' if user.roles.include?(role) %>
                 name="roles[]">
          <label class="form-check-label" for="role-<%= role.id %>">
            <%= role.name %> <small>(<%= role.description %>)</small>
          </label>
        </div>
      <% end %>
      <% else %>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <div class="input-group-text width-170px">Roles</div>
          </div>
          <input type="text" class="form-control disabled" value="<%= user.role_names.join(', ') %>" disabled>
        </div>
      <% end %>
    </div>
  </div>


  <hr>

  <div class="row">
    <div class="col-md-5">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <div class="input-group-text width-170px">Password</div>
        </div>
        <%= form.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-5">
      <small>Leave blank if you do not want to change it.</small>
    </div>
  </div>
  <p></p>

  <div class="row">
    <div class="col-md-5">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <div class="input-group-text width-170px">Confirm Password</div>
        </div>
        <%= form.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  </div>
  <p></p>

  <div class="actions">
    <%= form.submit class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
