<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header small">
        <h3><em class="fa fa-user-astronaut"></em> Edit '<%= @user.name %>'</h3>
      </div>
      <div class="card-body">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>

