<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header small">
        <em class="fa fa-user-astronaut"></em> Registered Users
      </div>
      <div class="card-body">

        <table class="table datatable table-striped table-borderless">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Index</th>
            <th>Roles</th>
            <th>Registered</th>
            <th class="no-sort"></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.personal_index %></td>
              <td><%= user.role_names.join(', ') %></td>
              <td><%= user.created_at.to_date %></td>
              <td>
                <%= link_to '<em class="fa fa-edit" title="Edit User"></em>'.html_safe, edit_user_path(user) %>
                <%= link_to '<em class="fa fa-trash-alt" title="Delete User"></em>'.html_safe, user, method: :delete, data: {confirm: 'Are you sure?'} %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<%= link_to 'New User', new_user_path %>
