<% content_for :import do %>
  <%= javascript_pack_tag 'run_history_view' %>
<% end %>

<script>
    let view = new RunHistory();
</script>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-sm table-vertical">
      <tr>
        <th class="width-170px">Test Specification</th>
        <td><%= @history.current.specification %></td>
        <th class="width-170px">Environment</th>
        <td><%= @history.current.environment %></td>
        <th class="width-170px">Run</th>
        <td><%= @history.current.name %> (#<%= @history.current.id %>)</td>
        <th class="width-170px">Executed</th>
        <td><%= @history.current.start_time.to_date %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-line-chart"></em> Execution Trend
      </div>
      <div class="card-body">
        <canvas style="max-height: 270px;" id="execution_trend"></canvas>
        <script>view.render_trend('execution_trend', <%= @history.data[:runs].to_json.html_safe %>)</script>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-clock"></em> Execution Duration
      </div>
      <div class="card-body">
        <canvas style="max-height: 270px;" id="execution_duration"></canvas>
        <script>view.render_duration('execution_duration', <%= @history.data[:runs].to_json.html_safe %>)</script>
      </div>
    </div>
  </div>
</div>

<p></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-grip-horizontal"></em> Test Run Execution history
      </div>
      <div class="card-body">
        <table id="runHistoryTable" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Procedure</th>
            <th class='no-sort'>Tags</th>
            <% @history.data[:runs].each do |run| %>
              <th class='no-sort'>
                <a href="/results/<%= run[:id] %>" title="<%= run[:name] %>">
                  <em class="fa fa-rocket"></em> #<%= run[:id] %>
                </a>
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @history.data[:results].each do |entry| %>
            <tr>
              <th><%= entry[:procedure][:name] %></th>
              <td>
                <div id="tags-<%= entry[:procedure][:id] %>"></div>
                <script>
                    view.renderTags('tags-<%= entry[:procedure][:id] %>', <%= entry[:procedure][:tags].to_json.html_safe %>)
                </script>
              </td>
              <% @history.data[:run_ids].each do |run| %>
                <% data = entry[:executions].find { |e| e[:run] == run } %>
                <% if data.present? %>
                  <td class="<%= data[:css] %>">
                    <span class="sr-only"><%= data[:result] %></span>
                    <%= summary_tooltip(entry[:procedure][:name], run, data[:summary]) %>
                  </td>
                <% else %>
                  <td>
                    <span class="sr-only">Not Executed</span>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
        <script>view.renderDatatabe();</script>
      </div>
    </div>
  </div>
</div>