<% content_for :import do %>
  <%= javascript_pack_tag 'run_overview_view' %>
<% end %>

<script>
    let view = new RunOverview(<%= result_colors.to_json.html_safe %>);
</script>

<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      Latest Results
    </div>
    <div class="card-body">
      <table id="resultsOverview" class="table table-striped table-hover">
        <!-- data provided by datatables -->
      </table>
      <script>view.draw_table();</script>
    </div>
  </div>
</div>
</div>
