<% content_for :import do %>
  <%= javascript_pack_tag 'proc_results_view' %>
<% end %>

<script>
    let view = new ProcResult(<%= @proc.test_run_id %>);
    let history = new Procedure(<%= @proc.procedure_id %>);
    let comments = new Comments(<%= @proc.id %>);
</script>

<div class="row">
  <div class="col-md-11">
    <a id="overview"></a>
    <div class="row">
      <div class="col-md-5">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-glasses"></em> <strong>Execution details</strong>
          </div>
          <table class="card-body table table-striped table-hover table-borderless">
            <tr>
              <th>Name</th>
              <td><%= @proc.procedure.name %></td>
            </tr>
            <tr>
              <th>State</th>
              <td><%= @proc.procedure.current_state.name %></td>
            </tr>
            <tr>
              <th>Test Run</th>
              <td>
                #<%= @proc.test_run.id %> <%= @proc.test_run.name %><br/>
                <small>
                  (Env: <%= @proc.test_run.environment %> | Spec: <%= @proc.test_run.specification %> |
                  Group: <%= @proc.group.name %>)
                </small>
              </td>
            </tr>
            <tr>
              <th>Description</th>
              <td><%= @proc.procedure.description %></td>
            </tr>
            <tr>
              <th>Pass/Fail Criteria</th>
              <td><%= @proc.procedure.pass_fail %></td>
            </tr>
            <tr>
              <th>Bugs/SPRs</th>
              <td><%= @proc.procedure.spr_names.join(', ') %></td>
            </tr>
            <tr>
              <th>Requirements</th>
              <td><%= @proc.procedure.requirement_names.join(', ') %></td>
            </tr>
          </table>
          <div class="card-footer small text-right text-muted">
            <a href="/procedures/<%= @proc.procedure.name %>"><em class="fa fa-link"></em> Procedure Details</a>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-cloud-sun"></em> <strong>Execution Result</strong>
          </div>
          <table class="card-body table table-striped table-borderless">
            <tr>
              <th>Started</th>
              <td><%= @proc.start_time %></td>
              <th>Finished</th>
              <td><%= @proc.end_time %></td>
              <th>Duration</th>
              <td><%= duration(@proc.start_time, @proc.end_time) %></td>
            </tr>
            <tr>
              <th>Result</th>
              <td class="cell-<%= @proc.result_css %>" colspan="5"><%= @proc.result %></td>
            </tr>
            <tr>
              <th>Summary</th>
              <td colspan="5"><%= summary_format(@proc) %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <p></p>

    <a id="tags"></a>
    <div class="row">
      <div class="col-md-5">
        <%= render partial: 'tags/tag_area', locals: {object_type: 'procedure', object: @proc.procedure} %>
      </div>
      <div class="col-md-7">
        <div class="card h-100">
          <div class="card-header small">

            <div class="row">
              <div class="col-md-7">
                <em class="fa fa-comments"></em> <strong>Comments</strong>
              </div>
              <div class="col-md-5 text-right">
                <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                  <label class="btn btn-info active">
                    <input type="radio" id="this" onclick="comments.render_result_comments('commentsTable')" autocomplete="off" checked> this execution
                  </label>
                  <label class="btn btn-info">
                    <input type="radio" id="all" onclick="comments.render_procedure_comments('commentsTable')" autocomplete="off"> all executions
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 border-dark scroll-box" >
              <table class="table table-sm table-striped table-hover table-borderless">
                <tbody id="commentsTable"></tbody>
              </table>
              <script>comments.render_result_comments('commentsTable')</script>
              </div>
            </div>
          </div>
          <div class="card-footer small">
            <%= form_with(id: 'newCommentForm') do %>
              <div class="row">
                <div class="col-md-11">
                  <textarea  class="form-control form-control-sm" name="text" type="text"></textarea>
                  <input type="hidden" name="result_id" id="result_id" value="<%= @proc.id %>" />
                </div>
                <div class="col-md-1">
                  <a href='#' class="btn btn-success btn-block" onclick="comments.add_comment('newCommentForm', 'commentsTable'); return false;"><em class="fa fa-send"></em></a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <a id="steps"></a>
    <% @log&.steps&.each do |step| %>
      <a id="<%= step[:title] %>"></a>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header small">
              <em class="fa fa-shoe-prints"></em> <%= step[:title] %>
            </div>
            <div class="card-body">
              <table class="small table table-striped table-borderless table-hover">
                <tr>
                  <th style="width: 150px">Result</th>
                  <td style="width: 150px" class="small cell-<%= step[:result].downcase.gsub(' ', '_') %>">
                    <strong><%= step[:result] %></strong>
                  </td>
                  <th style="width: 150px">Duration</th>
                  <td><%= step[:duration] %></td>
                </tr>
                <tr>
                  <th>Instruction</th>
                  <td colspan="3"><%= step[:instruction] %></td>
                </tr>
                <tr>
                  <th>Expectation</th>
                  <td colspan="3"><%= step[:expectation] %></td>
                </tr>
                <tr>
                  <th>Observation</th>
                  <td colspan="3"><%= step[:observation] %></td>
                </tr>
              </table>
              <% if step[:log].present? %>
                <div class="scroll-container">
                <pre class="log"><%= step[:log] %></pre>
                </div>
              <% else %>
                <p class="small border-dark"><em>... no log statements recorded for this step.</em></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <p></p>
    <% end %>

    <hr/>

    <a id="files"></a>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header small">
            <em class="fa fa-folder"></em> Test Files
          </div>
          <ul class="card-body">
            <% @log&.files&.each do |entry| %>
              <%= gen_download_link(@log, entry) %>
            <% end %>

          </ul>
        </div>
      </div>
    </div>

    <hr/>

    <a id="stats"></a>
    <div class="row">
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-line-chart"></em> <strong>Weekly Results</strong>
          </div>
          <div class="card-body">
            <canvas id="weeklyHistoryChart"></canvas>
            <script>
                history.render_weekly('weeklyHistoryChart');
            </script>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-pie-chart"></em> <strong>Total</strong>
          </div>
          <div class="card-body row">
            <div class="col-md-5">
              <table class="card-body table table-striped table-borderless table-hover">
                <tr>
                  <th>Passed</th>
                  <td><%= @total[:passed] + @total[:observations] %></td>
                </tr>
                <tr>
                  <th>Failed</th>
                  <td><%= @total[:failed] %></td>
                </tr>
                <tr>
                  <th>Not Executed</th>
                  <td><%= @total[:not_exec] %></td>
                </tr>
                <tr>
                  <th>Total Executions</th>
                  <td><%= @total[:passed] + @total[:observations] + @total[:failed] %></td>
                </tr>
                <tr>
                  <th>Failure Ratio</th>
                  <td>
                    <%= @total[:failed].percent_of(@total[:passed] + @total[:observations] + @total[:failed]) %>%
                  </td>
                </tr>
                <tr>
                  <th>Non-Execution Ratio</th>
                  <td>
                    <%= @total[:not_exec].percent_of(@total[:passed] + @total[:observations] + @total[:failed] + @total[:not_exec]) %>
                    %
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-7">
              <canvas id="totalSummaryChart"></canvas>
              <script>
                  history.render_total_with_data('totalSummaryChart', <%= @total.to_json.html_safe %>);
              </script>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-file-code"></em> <strong>Metadata</strong>
          </div>
          <table class="card-body table table-striped table-borderless">
            <tr>
              <th>Name</th>
              <td><%= @proc.procedure.name %></td>
            </tr>
            <tr>
              <th>Created</th>
              <td><%= @proc.procedure.created_at %></td>
            </tr>
            <tr>
              <th>Updated</th>
              <td><%= @proc.procedure.updated_at %></td>
            </tr>
            <tr>
              <th>Tags</th>
              <td><%= @proc.procedure.tags.map(&:name).join(', ') %></td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <p></p>

    <a id="history"></a>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header small">
            <em class="fa fa-history"></em> Execution History
          </div>
          <div class="card-body">
            <table id="resultsHistory" class="table table-striped table-hover">
              <!-- data provided by datatables -->
            </table>
            <script>view.render_history('<%= request.fullpath %>.json');</script>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-1">
    <div class="card position-fixed">
      <div class="card-header">
        <strong>Quick Jump</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#overview" class="stretched-link">
          <em class="fa fa-glasses"></em> Overview
        </a></li>
        <li class="list-group-item"><a href="#tags" class="stretched-link">
          <em class="fa fa-comment"></em> Comments
        </a></li>
        <li class="list-group-item"><a href="#steps" class="stretched-link">
          <em class="fa fa-shoe-prints"></em> Steps
        </a></li>
        <li class="list-group-item"><a href="#files" class="stretched-link">
          <em class="fa fa-folder"></em> Test Files
        </a></li>
        <li class="list-group-item"><a href="#history" class="stretched-link">
          <em class="fa fa-line-chart"></em> Statistics
        </a></li>
        <li class="list-group-item"><a href="#history" class="stretched-link">
          <em class="fa fa-history"></em> History
        </a></li>
      </ul>
    </div>
  </div>
</div>

<p></p>