<% content_for :import do %>
  <%= javascript_pack_tag 'run_results_view' %>
<% end %>

<script>
    let view = new RunResult(<%= @run.id %>);
</script>

<div class="row">
  <div class="col-md-2">
    <a href='/results/<%= @run.id %>/history' class="btn btn-primary btn-sm btn-block"><em class="fa fa-history"></em>&nbsp; Execution History</a>
  </div>
  <div class="col-md-2">
    <a href='/results/<%= @run.id %>/spr_coverage' class="btn btn-primary btn-sm btn-block"><em class="fa fa-bug"></em>&nbsp; SPR Coverage</a>
  </div>
  <div class="col-md-2">
    <a href='/results/<%= @run.id %>/req_coverage' class="btn btn-primary btn-sm btn-block"><em class="fa fa-space-shuttle"></em>&nbsp; Requirements Coverage</a>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-3">
    <div class="card h-100">
      <div class="card-header small">
        <em class="fa fa-glasses"></em> <strong>Run details</strong>
      </div>
      <table class="card-body table table-striped table-hover table-borderless">
        <tr>
          <th>ID</th>
          <td>#<%= @run.id %></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><%= @run.name %></td>
        </tr>
        <tr>
          <th>Spec</th>
          <td><%= @run.specification %></td>
        </tr>
        <tr>
          <th>Environment</th>
          <td><%= @run.environment %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card h-100">
      <div class="card-header small">
        <em class="fa fa-clock"></em>  <strong>Execution Time</strong>
      </div>
      <table class="card-body table table-striped table-hover table-borderless">
        <tr>
          <th>Started</th>
          <td><%= @run.start_time %></td>
        </tr>
        <tr>
          <th>Finished</th>
          <td><%= @run.end_time %></td>
        </tr>
        <tr>
          <th>Duration</th>
          <td><%= duration(@run.start_time, @run.end_time) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-header small">
        <em class="fa fa-pie-chart"></em> <strong>Results</strong>
      </div>
      <div class="card-body row">
        <div class="col-md-6">
          <table class="small table table-striped table-hover table-borderless">
            <% total = 0 %>
            <% @run.summary.each do |entry| %>
            <% total += entry.last %>
              <tr>
                <th><%= entry.first %></th>
                <td><%= entry.last %></td>
              </tr>
            <% end %>
            <tr>
              <th>Total</th>
              <td><%= total %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <canvas id="resultChart"></canvas>
        </div>
        <script>
            view.render_doughnut('resultChart', <%= @run.summary.keys.to_json.html_safe %>, <%= @run.summary.values.to_json %>)
        </script>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card h-100">
      <div class="card-header small">
        <em class="fa fa-project-diagram"></em> <strong>Group Dependencies</strong>
      </div>
      <div class="card-body">
        <div id="groupDependencies" style="height: 220px;"></div>
        <script>
            view.render_group_dependency('groupDependencies')
        </script>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <div class="card h-100">
      <div class="card-header small">
        <em class="fa fa-stream"></em> <strong>Test Execution Order</strong>
      </div>
      <div class="card-body">
        <div id="testExecutionTimeline"></div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header small">
        <em class="fa fa-rocket"></em> <strong>Procedures Executed</strong>
      </div>
      <div class="card-body">
        <table id="runResultsTable" class="table table-striped table-hover table-bordered">
        </table>
        <script>view.render_results();</script>
        <hr/>
      </div>
    </div>
  </div>
</div>

