<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header small">
        <em class="fa fa-bug"></em> <strong>SPR Coverage Matrix for Test Run #<%= @run.id %> <small>(<%= @run.name %>)</small></strong>
      </div>
      <div class="card-body">
        <table id="runResultsTable" class="table table-striped table-hover table-bordered datatable">
          <thead>
          <tr>
            <th>Reference</th>
            <th>Title</th>
            <th>Severity</th>
            <th>Coverage</th>
            <th>Success</th>
            <th>Procedures</th>
          </tr>
          </thead>
          <tbody>
          <% @data.each do |row| %>
          <tr>
            <td class="cell-bold"><%= row[:spr][:reference] %></td>
            <td><%= row[:spr][:title] %></td>
            <td class="cell-bold"><%= row[:spr][:severity] %></td>
            <td class="cell-bold">
              <%= coverage_percent(row[:procedures]) %>
            </td>
            <td>
              <%= success_percent(row[:procedures]) %>
            </td>
            <td>
              <ul>
                <% row[:procedures]&.each do |proc| %>
                <li>
                  <strong><a href="/results/<%= @run.id %>/<%= proc[:name] %>"><%= proc[:name] %></a> </strong><span class="<%= proc[:css] %>"><%= proc[:result] %></span><span class="sr-only">,</span>
                </li>
                <% end %>
              </ul>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
        <hr/>
      </div>
    </div>
  </div>
</div>