<% content_for :import do %>
  <%= javascript_pack_tag 'spr_view' %>
<% end %>

<script>
    let view = new Spr();
</script>

<div class="row">
  <div class="col-md-12">
    <%= form_with(id: "csvImport", url: '/sprs/import') do %>
      <div class="card">
        <div class="card-header">
          <strong>CSV Import </strong>
        </div>
        <div class="card-body">
          <table class="table table-striped table-bordered table-sm datatable">
            <thead>
            <tr>
              <% @data.headers.each do |header| %>
                <th><%= spr_mapping_select(header.encode('UTF-8').parameterize) %></th>
              <% end %>
            </tr>
            <tr>
              <% @data.headers.each do |header| %>
                <th><%= header %></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @data.each do |row| %>
              <tr>
                <% @data.headers.each do |header| %>
                  <td><%= row[header] %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
          <input type="hidden" name="csv" value="<%= @data.to_json %>"/>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-4">
              <select name="collision_handling" class="form-control form-control-sm">
                <option value='override' selected>Override &amp; Update Existing</option>
                <option value='keep'>Keep Existing</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="#" onclick="view.submitGenericForm('#csvImport')" class="btn btn-sm btn-success btn-block">Start Import</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
