<% content_for :import do %>
  <%= javascript_pack_tag 'spr_view' %>
<% end %>

<script>
    let view = new Spr();
</script>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header small">
        <a href='#' onclick="view.toggleVisibility('sprImport')" title="Show/Hide Import Form">
          <em class="fa fa-upload"></em> Import SPRs
        </a>
        &nbsp;
        <a href='#' onclick="view.toggleVisibility('newSprForm')" title="Show/HideForm">
          <em class="fa fa-plus-circle"></em> New SPR
        </a>
      </div>
      <div class="card-body">
        <div id="newSprForm" class="row justify-content-center <%= 'hidden' unless @show_form %>">
          <div class="col-md-6">
            <%= render partial: 'form', locals: { data: params, type: :create } %>
            <script>view.bindSubmitBtn();</script>
          </div>
        </div>
        <div id="sprImport" class="justify-content-center row hidden">
          <div class="col-md-6">
            <%= form_with(id: "sprImportForm", url: '/sprs/import', local: true, multipart: true) do %>
              <div class="row">
                <div class="col-md-7">
                  <div class="custom-file">
                    <input name="file" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Type</div>
                    </div>
                    <select name="type" class="form-control">
                      <option>CSV</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type='submit' class="btn btn-block btn-success">Import</button>
                </div>
              </div>
            <% end %>
            <script>view.activateImportForm();</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <em class="fa fa-bug"></em> Existing SPRs/Bugs
          </div>
          <div class="col-md-2">
            <a href="#" id="showSprMatrixBtn" onclick="view.openSprMatrix()" class="btn btn-primary btn-block btn-sm">Visual
              SPR-Procedure Matrix</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="sprsOverview" class="table table-striped table-hover">
        </table>
        <script>view.drawTable();</script>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="sprEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span id="modalTitle"></span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="modalBody"></div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="sprMatrixModal">
  <div class="modal-dialog mw-100 w-85">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SPR TestProcedure Link Matrix</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body bg-light">
        <div id="sprMatrix" style="height: 900px; width: 100%"></div>
      </div>
    </div>
  </div>
</div>