<script>
    let tag = new Tag();
</script>

<div class="card h-100">
  <div class="card-header small">
    <em class="fa fa-tags"></em> <strong>Tags</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div id="tags-container"></div>
      </div>
    </div>
  </div>
  <div class="card-footer small">
    <%= form_with(id: 'newTagForm') do %>
      <div class="row">
        <div class="col-md-10">
          <input class="form-control form-control-sm" name="tag" type="text" autocomplete="off" data-autocomplete="/suggest/tags.json">
          <input type="hidden" name="object" value="<%= object_type %>"/>
          <input type="hidden" name="object_id" id="object_id" value="<%= object.id %>"/>
        </div>
        <div class="col-md-2">
          <a href='#' class="btn btn-success btn-block btn-sm" onclick="tag.create_link('newTagForm', 'tags-container'); return false;">Add</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
    tag.append_tags('tags-container', <%= object.tags.to_json.html_safe %>);
    tag.activate_tag_remove(<%= object.id %>);
</script>