<% content_for :import do %>
  <%= javascript_pack_tag 'tag_view' %>
<% end %>

<script>
    let view = new Tag();
</script>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header small">
        <em class="fa fa-plus-circle"></em> New Tag
      </div>
      <div class="card-body">
        <%= form_for(:tag, method: :post) do %>
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><em class="fa fa-tag"></em></div>
                </div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= params[:name] %>">
              </div>
            </div>

            <div class="col-md-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><em class="fa fa-file-text"></em></div>
                </div>
                <input type="text" class="form-control" id="desc" name="desc" placeholder="Description (optional)" value="<%= params[:desc] %>">
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><em class="fa fa-palette"></em></div>
                </div>
                <input type="text" class="form-control" id="color" name="color" placeholder="Hex Color-Code" value="<%= params[:color] %>">
              </div>
            </div>

            <div class="col-md-2">
              <button type="submit" class="btn btn-success btn-block">Create</button>
            </div>
          </div>
        <% end %>
        <p></p>
        <div class="row">
          <div class="col-md-12 text-right">
            <% %w[#000 #333 #666 #aaa #ddd
            #330000 #660000 #990000 #BB0000
            #BB3300 #993300 #663300
            #333300 #666600 #999900 #BBBB00
            #003300 #006600 #009900 #00BB00
            #000033 #000066 #000099 #0000BB
            #330033 #660066 #990099 #BB00BB
            #3300BB #330099 #330066 #660033 #990033 #BB0033].each do |code| %>
              <a href='#' style="background-color: <%= code %>; color: <%= text_color(code) %> !important;" class="btn btn-sm" onclick="view.pick('<%= code %>');" data-name="<%= code %>"><%= code %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <em class="fa fa-tags"></em> Existing Tags
      </div>
      <div class="card-body">
        <table id="tagsOverview" class="table table-striped table-hover datatable">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Preview</th>
            <th class="no-sort"></th>
          </tr>
          </thead>
          <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= tag.desc %></td>
              <td id="tag-<%= tag.id %>"></td>
              <td class="text-right">
                <% unless tag.used? %>
                  <%= form_with(url: 'tags/delete', method: :post) do %>
                    <input type="hidden" id="delid" name="delid" value="<%= tag.id %>"/>
                    <button type="submit" class="btn btn-danger btn-sm" title="Delete Tag"><em class="fa fa-remove"></em></button>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <script>view.append_tag('tag-<%= tag.id %>', <%= tag.to_json.html_safe %>)</script>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>