
<div class="bs-component">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to TASHI Reporting!</h1>
    <p class="lead">TASHI Reporting is the WebMMI and document generation component for the TASHI testing framework.</p>
    <hr class="my-4">
    <p>TASHI is a framework for software tests on system level (End-To-End, Blackbox or Acceptance Tests).
      It is especially designed to mimic human interactions with UI elements and asserting the response.
      With strict requirements on human readable descriptions and expectations it allows to used in official
      acceptance test campaigns as well as in nightly runs.
      TASHI combines the knowledge and best practices from the space and medical engineering domains,
      which are both known for their strict requirements and high expectations. With TASHI on your side
      you can take the pressure and stay relaxed.</p>
    <p>TASHI is completely open source and can be used under the terms of the Apache 2.0 License.</p>
    <hr class="my-4">
    <p class="lead text-right">
      <a class="btn btn-primary btn-lg" href="https://gitlab.gwdg.de/jhoelke/tashi/-/wikis/home" target="_blank" role="button">
        <em class="fa fa-book-open"></em> Learn more</a>
      <a class="btn btn-primary btn-lg" href="https://gitlab.gwdg.de/jhoelke/tashi/" target="_blank" role="button">
        <em class="fa fa-code"></em> View Source</a>
    </p>
  </div>
</div>