<% content_for :import do %>
  <%= javascript_pack_tag 'proc_overview_view' %>
<% end %>

<script>
    let view = new ProcOverview();
</script>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <em class="fa fa-satellite-dish"></em> Test Procedures
          </div>
          <div class="col-md-2">
            <a href="#" id="checkStateBtn" onclick="view.check_states()" class="btn btn-warning btn-block btn-sm">Check States</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="proceduresOverview" class="table table-striped table-hover">
          <!-- data provided by datatables -->
        </table>
        <script>view.draw_table();</script>
      </div>
    </div>
  </div>
</div>