<% content_for :import do %>
  <%= javascript_pack_tag 'proc_results_view' %>
<% end %>

<script>
    let view = new Procedure(<%= @proc.id %>);
    let spr = new Spr();
    let req = new Requirements();
</script>

<a id="metadata"></a>

<div class="row">
  <div class="col-md-11">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header small">
            <em class="fa fa-glasses"></em> <strong>Procedure Metadata</strong>
          </div>
          <table class="card-body table table-striped table-hover table-borderless">
            <tr>
              <th>Name</th>
              <td class="cell-bold"><%= @proc.name %> <small>(#<%= @proc.id %>)</small></td>
            </tr>
            <tr>
              <th>Description</th>
              <td><%= @proc.description %></td>
            </tr>
            <tr>
              <th>Pass/Fail Criteria</th>
              <td><%= @proc.pass_fail %></td>
            </tr>
            <tr>
              <th>Step count</th>
              <td><%= @proc.steps.size %></td>
            </tr>
            <tr>
              <th>Current State</th>
              <td class="cell-bold">
                <%= @proc.current_state.name %>
                <small>(<%= @proc.current_state.description %>)</small>
              </td>
            </tr>
            <tr>
              <th class="small">Created</th>
              <td class="small"><%= @proc.created_at %></td>
            </tr>
            <tr>
              <th class="small">Last Updated</th>
              <td class="small"><%= @proc.updated_at %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <a id="references"></a>
    <hr/>

    <div class="row">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-bugs"></em> <strong>Bugs/SPRs Covered (<%= @proc.sprs.size %>)</strong>
          </div>
          <div class="card-body">
            <table class="table table-striped table-sm">
              <thead>
              <tr>
                <th>Reference</th>
                <th>Severity</th>
                <th>Title</th>
                <th></th>
              </tr>
              </thead>
              <tbody id="linkedSPRsTable">
              <% @proc.sprs&.each do |spr| %>
                <tr id="spr-<%= spr[:id] %>">
                  <td class="cell-bold"><%= spr[:reference] %></td>
                  <td><%= spr[:severity] %></td>
                  <td><%= spr[:title] %></td>
                  <td class="text-right">
                    <a href='#' onclick="spr.unlinkSpr(<%= @proc.id %>, <%= spr[:id] %>)" class="btn btn-danger btn-sm" title="Unlink"><em class="fa fa-unlink"></em></a>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="card-footer small">
            <div class="row">
              <div class="col-md-10">
                <input class="form-control form-control-sm" id="newSpr" autocomplete="off" data-autocomplete="/suggest/sprs.json">
              </div>
              <div class="col-md-2">
                <a href='#' onclick="spr.linkSpr('<%= @proc.name %>', <%= @proc.id %>, 'linkedSPRsTable')" class="btn btn-success btn-block btn-sm"><em class="fa fa-link"></em>
                  Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-space-shuttle"></em> <strong>Requirements</strong>
          </div>
          <div class="card-body">
            <table class="table table-striped table-sm">
              <thead>
              <tr>
                <th>Reference</th>
                <th>Title</th>
                <th>Severity</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody id="linkedReqsTable">
              <% @proc.requirements&.each do |req| %>
                <tr id="req-<%= req[:id] %>">
                  <td class="cell-bold"><%= req[:reference] %></td>
                  <td><%= req[:title] %></td>
                  <td><%= req[:severity] %></td>
                  <td><%= req[:status] %></td>
                  <td class="text-right">
                    <a href='#' onclick="req.unlinkReq(<%= @proc.id %>, <%= req[:id] %>)" class="btn btn-danger btn-sm" title="Unlink"><em class="fa fa-unlink"></em></a>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="card-footer small">
            <div class="row">
              <div class="col-md-10">
                <input class="form-control form-control-sm" id="newReq" autocomplete="off" data-autocomplete="/suggest/requirements.json">
              </div>
              <div class="col-md-2">
                <a href='#' onclick="req.linkReq('<%= @proc.name %>', <%= @proc.id %>, 'linkedReqsTable')" class="btn btn-success btn-block btn-sm"><em class="fa fa-link"></em>
                  Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a id="tags"></a>
    <hr/>

    <div class="row">
      <div class="col-md-3">
        <%= render partial: 'tags/tag_area', locals: { object_type: 'procedure', object: @proc } %>
      </div>

      <div class="col-md-9">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-comments"></em> <strong>Review History</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 border-dark scroll-container">
                <table class="table table-sm table-striped table-hover table-borderless scroll-box">
                  <tbody id="reviewTable"></tbody>
                </table>
                <script>view.render_reviews('reviewTable')</script>
              </div>
            </div>
          </div>
          <div class="card-footer small">
            <%= form_with(id: 'newReviewForm') do %>
              <div class="row">
                <div class="col-md-2">
                  <select class="form-control form-control-sm" name="state">
                    <option disabled selected>Choose</option>
                    <%= options_for_select(ReviewState.select(:name).order(name: :desc).map(&:name)) %>
                  </select>
                </div>
                <div class="col-md-9">
                  <input class="form-control form-control-sm" name="text" type="text">
                  <input type="hidden" name="procedure_id" id="procedure_id" value="<%= @proc.id %>"/>
                </div>
                <div class="col-md-1">
                  <a href='#' class="btn btn-success btn-block btn-sm" onclick="view.add_review('newReviewForm', 'reviewTable'); return false;"><em class="fa fa-send"></em></a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <a id="steps"></a>
    <hr/>

    <% @proc.steps.each do |step| %>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header small">
              <em class="fa fa-shoe-prints"></em> Step: <%= step.name %>
            </div>
            <table class="card-body table table-striped table-hover table-borderless">
              <tr>
                <th style="width: 150px">Name</th>
                <td class="cell-bold"><%= step.name %></td>
              </tr>
              <tr>
                <th>Instruction</th>
                <td><%= step.instruction %></td>
              </tr>
              <tr>
                <th>Expectation</th>
                <td><%= step.expectation %></td>
              </tr>
              <tr>
                <th class="small">Created</th>
                <td class="small"><%= step.created_at %></td>
              </tr>
              <tr>
                <th class="small">Last Updated</th>
                <td class="small"><%= step.updated_at %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <p></p>
    <% end %>

    <a id="stats"></a>
    <hr/>

    <div class="row">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-line-chart"></em> <strong>Weekly Results</strong>
          </div>
          <div class="card-body">
            <canvas id="weeklyHistoryChart"></canvas>
            <script>
                view.render_weekly('weeklyHistoryChart');
            </script>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-header small">
            <em class="fa fa-pie-chart"></em> <strong>Total</strong>
          </div>
          <div class="card-body row">
            <div class="col-md-5">
              <table class="card-body table table-striped table-borderless table-hover">
                <tr>
                  <th>Passed</th>
                  <td><%= @total[:passed] + @total[:observations] %></td>
                </tr>
                <tr>
                  <th>Failed</th>
                  <td><%= @total[:failed] %></td>
                </tr>
                <tr>
                  <th>Not Executed</th>
                  <td><%= @total[:not_exec] %></td>
                </tr>
                <tr>
                  <th>Total Executions</th>
                  <td><%= @total[:passed] + @total[:observations] + @total[:failed] %></td>
                </tr>
                <tr>
                  <th>Failure Ratio</th>
                  <td>
                    <%= @total[:failed].percent_of(@total[:passed] + @total[:observations] + @total[:failed]) %>%
                  </td>
                </tr>
                <tr>
                  <th>Non-Execution Ratio</th>
                  <td>
                    <%= @total[:not_exec].percent_of(@total[:passed] + @total[:observations] + @total[:failed] + @total[:not_exec]) %>
                    %
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-7">
              <canvas id="totalSummaryChart"></canvas>
              <script>
                  view.render_total_with_data('totalSummaryChart', <%= @total.to_json.html_safe %>);
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- END class="col-md-11" -->
  <div class="col-md-1">
    <div class="card position-fixed">
      <div class="card-header">
        <strong>Quick Jump</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#metadata" class="stretched-link">
          <em class="fa fa-glasses"></em> Overview
        </a></li>
        <li class="list-group-item"><a href="#tags" class="stretched-link">
          <em class="fa fa-comment"></em> Review
        </a></li>
        <li class="list-group-item"><a href="#steps" class="stretched-link">
          <em class="fa fa-shoe-prints"></em> Steps
        </a></li>
        <li class="list-group-item"><a href="#history" class="stretched-link">
          <em class="fa fa-line-chart"></em> Statistics
        </a></li>
      </ul>
    </div>
  </div>
</div>

<p></p>