/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-link em {
    margin-right: 5px;
}

.content {
    padding-top: 3.2em;
}

.cell-not_executed {
    background-color: #d5d5d5;
    color: #343434 !important;
    font-weight: bold;
}
.vis-item.cell-not_executed {
    background-color: #d5d5d5;
    border-color: #555555;
    color: #343434;
}

.cell-passed {
    background-color: #00d500;
    color: #343434 !important;
    font-weight: bold;
}
.vis-item.cell-passed {
    background-color: #00d500;
    border-color: #005500;
    color: #343434;
}

.cell-passed_with_observations {
    background-color: #d0a000;
    color: #343434 !important;
    font-weight: bold;
}
.vis-item.cell-passed_with_observations {
    background-color: #d0a000;
    border-color: #df8505;
    color: #343434;
}

.cell-failed {
    background-color: #ee0000;
    color: #343434 !important;
    font-weight: bold;
}
.vis-item.cell-failed {
    background-color: #ee0000;
    border-color: #550000;
    color: #343434;
}

.vis-item {
    font-size: 7pt !important;
    line-height: 0.7em;
}
.vis-label, .vis-text {
    color: #999b9e !important;
}
.vis-tooltip {
    background-color: #343434 !important;
    color:  #999b9e !important;
}
#testExecutionTimeline {
    background-color: #333333;
}

.cell-bold {
    font-weight: bold;
}

.row-highlight {
    background-color: #2d5e6d !important;
}

.log {
    background-color: #1e2123;
    border: #999b9e 1px solid;
    max-height: 355px;
    overflow: scroll;
}

.btn-link:visited,
a:visited {
    color: #CECECE !important;
}

.table-vertical th {
    background-color: #515960;
    font-weight: bold;
    text-align: right;
    padding-right: 15px !important;
}
.width-170px {
    width: 170px;
}

.scroll-box {
    max-height: 170px !important;
    overflow-y: scroll;
    border: #999b9e 1px solid;
}

.hidden {
    visibility: hidden;
    max-height: 0;
    height: 0;
}

.big-modal .modal-dialog {
    margin: 0;
    width: 100% !important;
    height: 100%;
    padding: 0;
}

.big-modal .modal-content {
    width: 100% !important;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
}

.options-cell {
    width: 100px;
}