<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="../" class="navbar-brand">
      TASHI
      <em class="fa fa-cloud-sun"></em>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-1 dual-collapse2" id="navbarResponsive">
      <ul class="navbar-nav">
        <%= main_menu(current_user) %>
      </ul>
    </div>

    <div class="navbar-collapse collapse order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <%= user_menu(current_user) %>
      </ul>
    </div>
  </div>
</div>