<!DOCTYPE html>
<html>
<head>
  <title>TashiReporting</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'dark-theme', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'fontawesome/all', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  <%= yield :import %>
</head>

<body>
<%= render 'layouts/navbar' %>

<div class="content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
      <%= breadcrumbs(request.fullpath) %>
    </ol>
  </nav>

  <div class="container-fluid" id="flash">
    <% flash.each do |type, msg| %>
      <div class="alert <%= flash_bs_class(type) %> alert-dismissable fade show" role="alert">
        <em class="<%= flash_fa_class(type) %>"></em> <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>
</div>
</body>
</html>
